@import 'utils/reset';
@import 'utils/misc';
@import 'utils/fonts';
@import 'utils/colors';

@import 'ui/window';
@import 'ui/toolbar';
@import 'ui/tabs';
@import 'ui/code-editor';
@import 'ui/notes';
@import 'ui/scroll';
@import 'ui/grid';
@import 'ui/text';
@import 'ui/icons';
@import 'ui/nav';
@import 'ui/background';
@import 'ui/loader';
@import 'ui/buttons';
@import 'ui/form';
@import 'ui/modal';
@import 'ui/headings';
@import 'ui/footer';
@import 'ui/alert';
@import 'ui/welcome';
@import 'ui/search';

@import 'pages/main';
@import 'pages/deployment';
@import 'pages/env-form';
@import 'pages/edit-diff';
@import 'pages/aside';

#modal {
    height: 100%;
}

.fade {
    visibility: hidden;
    opacity: 0;
    transition: all .15s ease;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 16px;
    left: 0;
    width: 100%;
}


.envs-title {
    padding: 8px 0;
}
