<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ftployin</title>
    <link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body>
    <div id="modal" class="fade" v-bind:class="{show: vueLoaded}">
        <div class="ui window-title drag-region">{{ title }}</div>

        <div class="ui window-body modal deployment">
            <div class="ui toolbar fade" :class="{show: loaded}">
                <div class="cols">
                    <div class="col-11" :title="diff.edited ? 'this config has been edited' : ''">
                        <i class="icon icon-clock-o ui text cyan"></i>
                        <span class="ui text sub bold" :class="{gray: !diff.edited, pink: diff.edited}">{{ (diff.from) ? diff.from : 'zero point' }}</span>

                        <i class="icon icon-long-arrow-right ui text gray"></i>
                        <span class="ui text sub bold" :class="{gray: !diff.edited, pink: diff.edited}">{{ diff.to }}</span>
                    </div>
                    <div class="col-1">
                        <button class="ui btn small cyan fade" @click="changeDiff()" :class="{show: !deploying}">
                            <i class="ui icon icon-edit"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="file-list">
                <div class="feedback" v-if="!loaded">
                    Fetching diffs...
                </div>
                <div class="feedback" v-if="loaded && files.length == 0">
                    Oops! There is nothing to be deployed.
                </div>
                <ul v-if="showFiles">
                    <li v-for="file in files">                        
                        <input type="checkbox" v-model="file.selected" />
                        <span class="ui text sub" :class="{purple: !file.selected, green: file.selected }">
                            <strong>{{ file.mode }}</strong>  {{ file.path }}
                        </span>
                    </li>
                </ul>
                <pre class="log-box" v-if="showLogBox">{{ log }}</pre>
            </div>

            <div class="footer">
                <div class="cols">
                    <div class="col-1">
                        <div class="ui loader" v-if="(deploying && !done) || !connected || !loaded "></div>
                    </div>
                    <div class="col-9">
                        <div class="ui text sub green progress">{{ feedback }}</div>
                    </div>
                    <div class="col-2">
                        <button 
                            class="ui btn green"
                            v-on:click="processDeploy()"
                            v-if="!deploying && !done && files.length > 0"
                        >deploy</button>

                        <button 
                            class="ui btn green"
                            v-on:click="close()"
                            v-if="(loaded && files.length == 0) || (files.length > 0 && done)"
                        >close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/vue.min.js"></script>
    <script src="src/js/deployment.js"></script>
</body>
</html>