<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ftployin</title>
    <link rel="stylesheet" href="assets/css/app.min.css">
  </head>
  <body>
    <div id="app">
      <div class="ui window-title drag-region">{{ title }}</div>

      <div class="ui window-body">

        <div class="cols full-height">
          <div id="aside" class="col-3">

            <div class="ui text sub upper purple bold title-sidebar">
                <transition name="fade" v-if="activeSearch">
                    <div id="wrap-search" class="ui">
                      <input type="text" v-model="search" placeholder="search project..">
                    </div>
                </transition>
                projects
                <i class="ui icon icon-search" aria-hidden="true" v-on:click="activeSearch = !activeSearch" v-if="lengthProject > 1" v-show="!activeSearch"></i>
                <i class="ui icon icon-times-circle" aria-hidden="true" v-on:click="removeSearch" v-show="activeSearch"></i>
            </div>

            <ul class="ui nav">
              <!-- v-for="project in projects" -->
              <li
                class="nav-item"
                v-for="project in searchList"
                v-bind:class="{selected: project.selected}"
                @click="selectProject(project)"
              >
                  <span>{{ project.name }}</span>
                  <span class="remove-project" @click="removeProject(currentProject)"></span>
              </li>
            </ul>

            <div class="footer">
              <button class="ui btn green" v-on:click="addProject()">add project</button>
            </div>
          </div>
          <div class="col-9 ui bg white-opacity no-padding">

            <div v-if="currentProject">
              <h1 class="ui">
                {{ currentProject.name }}

                <button class="ui btn gray float right inverse" title="remove project" @click="removeProject(currentProject)">
                  <i class="icon icon-trash"></i>
                </button>
              </h1>

              <div class="info padding-h-16 lh-24 bg-white-opacity">
                <span class="ui text green sub">
                  <i class="icon icon-folder-open"></i>
                  {{ currentProject.path }}
                </span>
              </div>

              <div class="padding-h-16 ">
                <div class="cols envs-title border bottom lh-24">
                  <div class="col-11 no-padding">
                    <span class="ui text upper sub bold gray no-margin ">Enviroments</span>
                  </div>
                  <div class="col-1 no-padding">
                    <button class="ui btn small yellow" @click="addEnv()">
                      <i class="icon icon-plus"></i> env
                    </button>
                  </div>
                </div>
              </div>

              <div class="padding-h-16">
                <div class="env-list">
                  <div class="env-list-item cols" v-for="env in currentProject.envs">
                    <div class="col-10 no-padding">
                      <span class="ui text cyan sub">
                        <i class="icon icon-cube"></i>
                        {{ env.name }}
                      </span>
                    </div>
                    <div class="col-2 no-padding">
                      <div class="cols actions">
                        <div class="col-4">
                          <button class="ui btn small cyan" @click="editEnv(env)">
                            <i class="ui icon icon-edit"></i>
                          </button>
                        </div>
                        <div class="col-4">
                          <button class="ui btn small pink" @click="deleteEnv(env)">
                            <i class="ui icon icon-trash"></i>
                          </button>
                        </div>
                        <div class="col-4">
                          <button class="ui btn small green" @click="deploy(currentProject.path, env)">
                            <i class="ui icon icon-cloud-upload"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="welcome" class="ui" v-else>
                <span class="title-welcome">
                    welcome to the <span>ftployin</span>
                </span>
            </div>

            <div id="infos-projects-footer" class="ui">
                <span class="elements lenght-projects">
                  <span v-if="lengthProject <= 0"><i class="ui icon icon-folder" aria-hidden="true"></i> none project added</span>
                  <span v-else><i class="ui icon icon-folder" aria-hidden="true"></i> {{lengthProject}} project<span v-if="lengthProject > 1">s</span></span>
                </span>
            </div>
            <div class="ui alert" :class="[{active: alert}, alertColor]" id="boxAlert" ref="boxAlert">
                {{ alertDialog }}
            </div>
          </div>

        </div>
      </div>
    </div>

    <script src="assets/js/vue.min.js"></script>
    <script src="src/js/ui/tabs.js"></script>
    <script src="src/js/ui/code-editor.js"></script>
    <script src="src/js/app.js"></script>
  </body>
</html>
