$bg:#282a36;
$pink: darken(#fd7cc5, 10%);
$cyan: darken(#8fe9fc, 10%);
$yellow: darken(#f1f992, 10%);
$purple: darken(#6373a2, 10%);
$gray: darken(#999999, 10%);
$green: darken(#59f881, 10%);
$white-10p: #353841;
$red: darken(#F03861, 10%);
