@mixin btn-style ($name, $bg, $color: #282a36) {    
    &.#{$name} {
        background-color: $bg;
        
        &:hover {
            background-color: lighten($bg, 15%);
        }

        &.inverse {
            background-color: transparent;
            color: $bg;

            &:hover {
                background-color: transparent;
                color: lighten($bg, 15%);
            }
        }
    }
}

.ui {
    &.btn {
        cursor: pointer;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width: 100%;
        border: 0;
        padding: 0 0px;
        text-align: center;
        text-transform: uppercase;
        transition: all .3s ease;
        border-radius: 4px;
        color: rgba(0,0,0,.7);
        vertical-align: middle;

        @include btn-style('purple', $purple);
        @include btn-style('gray', $gray);
        @include btn-style('pink', $pink);
        @include btn-style('yellow', $yellow);
        @include btn-style('cyan', $cyan);
        @include btn-style('green', $green);
        @include btn-style('purple', $purple);

        .icon {
            font-size: 16px;
            line-height: 30px;
            vertical-align: middle;
        }

        &.small {
            height: 20px;
            line-height: 20px;

            .icon {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &.float {
            width: auto;
            // padding: 0 8px;
        }

        &.disabled,
        &.disabled:hover {
            background-color: $gray;
            user-select: none;
            touch-action: none;
        }
    }
}