.ui {
    h1, h2, h3, h4, h5, h6 {
        padding: 4px 16px;
        border-bottom: 1px solid rgba(255,255,255,.05);
        color: $gray;
        line-height: 1;

        &.no-margin {
            margin: 0;
        }
    }

    h1 {
        font-size: 26px;
        line-height: 40px;

        .icon {
            font-size: 20px!important;
            line-height: 40px!important;
        }
    }
    h5 {
        font-size: 14px;
    }

    .title-sidebar{
        position:relative;

        i{
            font-size:14px;
            text-align: center;
            color:$purple;
            float:right;
            cursor:pointer;
            transition: all 300ms ease;

            &:hover{
                color:$pink;
                transition: all 300ms ease;
            }
        }
    }
}
