.ui {
    &.modal {
        .body {
            height: calc(100% - 62px);
            
            .cols {
                padding: 0 8px;

                > [class*='col-'] {
                    padding: 0 8px;
                }
            }
        }


        .footer {
            [class*='col-'] {
                padding: 0;
            }
        }
    }
}