.ui {
    &.nav {
        padding: 16px;
        margin: 1px 0 0 0;
        list-style: none;
        height:calc(100% - 110px);
        overflow-y: auto;

        .nav-item {
            border-left: 4px solid $pink;
            color: $pink;
            cursor: pointer;
            font-size: 12px;
            line-height: 18px;
            padding-left: 8px;
            padding-right: 25px;
            margin-bottom: 2px;
            position:relative;
            transition: all 300ms ease;
            white-space: nowrap;
            overflow:hidden !important;
            text-overflow: ellipsis;

            &.selected,
            &:hover {
                border-left-color: $green;
                color: $green;
            }
            &:hover{
                .remove-project{
                    color:$purple;
                }
            }
            &.selected{
                .remove-project{
                    background:transparent;
                    color:$purple;
                    opacity:0.6;
                    right:0;
                    transition: all 300ms ease;

                    &:hover{
                        color:$red;
                        opacity:1;
                        transition: all 300ms ease;
                    }
                }
            }

            .remove-project{
                color:$red;
                width:14px;
                height:14px;
                display:block;
                padding:0;
                position:absolute;
                top:1px;
                right:0;
                opacity:0;
                transition: all 300ms ease;
            }
        }
    }
}
