.ui {
    &.note {
        color: $gray;
        font-size: 12px;
        padding: 8px;
        padding-left: 0;
        line-height: 14px;
        border: 1px solid $gray;
        border-radius: 4px;
        margin-bottom: 8px;
        background-color: rgba(255,255,255,.05);
        
        .icon {
            line-height: 14px;
            float: left;
            margin: 0px 16px;
        }
    }
}