.ui{
    &.search {
        height: 46px;
        padding: 8px 0;
        font-size: 0;

        input {
            font-family: Menlo, Courier, monospace;
            color: #fff;
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            background:transparent;
            width: calc(100% - 40px);
            border: 0;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            padding: 0 16px;
            vertical-align: top;

            &::-webkit-input-placeholder {
                color: $gray;
                text-transform: uppercase;
            }
        }

        button {
            width: 40px;
            display: inline-block;
            border: 0;
            background: transparent;
            color: $gray;
            line-height: 30px;
            height: 30px;
            text-align: center;
            padding: 0;
            font-size: 14px;

            &.filled {
                color: $gray;
                cursor: pointer;

                &:hover {
                    color: lighten($gray, 20%);
                }
            }
        }
    }
}
