.ui{
    #wrap-search{
        background:$bg;
        width:90%;
        position:absolute;
        top:0;
        left:0;
        z-index:100;
        input{
            font-family: Menlo, Courier, monospace;
            color: $gray;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            background:transparent;
            width:100%;
            border:0;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: $purple;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: $purple;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: $purple;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $purple;
            }
        }
    }
}
