.ui{
    &.welcome{
        background-position: center!important;
        background-size: 30%!important;
        background-image: url(../../assets/icons/logo-dark.svg)!important;
        background-repeat: no-repeat;
    }
}
